{% extends 'app/includes/template.twig' %}
{% block title %}Password Recovery{% endblock %}

{% block body %}

<div class="col-lg-3 mx-auto" style="margin-top: 5%">
	<h4>Password Recovery</h4>
	<hr>
	<div class="alert alert-light">
	<p><b>Procedure:</b></p>
	<ol>
		<small><li>Enter <b>either</b> your email, username <b>or</b> phone number.</li></small>
		<small><li>You will receive an email, click the <b>"Change Password"</b> button.</li></small>
		<small><li>Enter your <b>new</b> password in twice.</li></small>
		<small><li><b>Done!</b> You can now log in with your <b>new password</b>.</li></small>
	</ol>
	</div>
	<form action="{{path_for('password.postrecover')}}" method="post">
			
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control {{ errors.username ? ' is-invalid': '' }}" type="text" name="username" id="username" value="{{ old.username }}">
			{% if errors.username %}
			  <span class="invalid-feedback">{{ errors.username | first | capitalize }}</span>
			{% endif %}
		</div>

		<input class="btn btn-dark" type="submit" value="Submit">	

	</form>
</div>

{% endblock %}