<div class="col-12 col-md-3 col-xl-2 bd-sidebar" id="sidebar">
<ul class="nav flex-column bg-light">
	<li class="nav-item">
		<a class="nav-link navbar-brand" href="">Home</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="">Store</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="">Points</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="">Friends</a>
	</li>
</ul>

<div id="sidebar-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
</div>