{% extends 'mail/includes/template.twig' %}

{% block body %}
<h4>Your password was successfully updated!</h4>
<p>This is to inform you that your password was successfully updated for the following account.</p>
<h6>Account Details:</h6>
<ul>
	<li>Username: <b>{{user.username}}</b></li>
	<li>Email: <b>{{user.email}}</b></li>
	<li>Phone number: <b>{{user.phone_number}}</b></li>
</ul>

<p>You may now use your new password to login.</p>
	

<p>Best regards,</p>
<p>David M. Chen</p>

<p>At Engtelligent TLD</p>
<p>www.engtelligent.com</p>
{% endblock %}



